@font-face{
	
	src: url(../fonts/Roboto-Regular.ttf);
	font-family: roboto;
}




*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body{
	width: 100%;
	min-height: 100vh;
}



/*******************************Navbar Start*****************************/
.nav-bar{
	width: 100%;
	position: absolute;
	z-index: 1000;
	padding-top: 20px;
}
.nav-bar>.logo{
	width: 20%;
	vertical-align: top;
	display: inline-block;
}

.nav-bar>.logo>img{
	width: 178px;
    height: auto;
}

.nav-bar>.menu{
	transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
	width: 100%;
	background-color: #ffff;
	overflow: hidden;
}
.nav-bar>.menu>.has-child{
	 display:block;
}
.nav-bar>.menu>.has-child>.child{
	display: none!important;
	transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
	width: 200px;
	border-radius: 15px;
	overflow: hidden;
	position: absolute;
	left: -70px;
	background-color: #f1f1f1;
	min-width: 140px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 500;
}
.nav-bar>.menu>.has-child>.child>li{
	line-height: 1.5;
	list-style-type: none;
	text-align: center;
	padding: 10px 5px 10px 10px;
}

.nav-bar>.menu>.has-child>.child>li>a{
	font-weight: bold;
    color: #0000009c;
    text-decoration:none;
}


.nav-bar>.menu>li{
	display: block;
	line-height: 2;
	text-align: center;
	font-size: 16px;
	margin-left: 0px;
    vertical-align: bottom;
    font-weight: 400;
    font-family: "roboto", sans-serif;
}

.nav-bar>.menu>li>a{
	text-decoration: none;
	font-weight: bold;
    color: #0000009c;
}	



.mobile-menu-toggle-container{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	float: right;
	color: #ffffff;
}
#toggle-mobile-menu{
	display: none;
}
#toggle-mobile-menu:checked + .menu{
	opacity: 1;
    height: auto;
}

/*******************************Navbar Ends*****************************/









/***********************Home Page Header Start ***********************/


.bg-header{

	height: 700px;
	width: 100%;
	border-bottom-right-radius:80%;
	position: relative;
	background: linear-gradient(to top, #140e38,#15397c );
    font-family: "roboto", sans-serif;
}


.bg-header>.header-content>.header-item-svg{
	display: none;
}
.bg-header>.header-content>.header-item{
	text-align: center;
}
.bg-header>.bg-polygon-white{
	display: none;
}
.bg-header>.header-content{
		position: absolute;
		display: grid;
		grid-auto-columns: 1fr;
	   grid-auto-flow: column;
	   grid-gap: 20px;
		padding :100px 4% 0px 8% ; 
		z-index: 800;
		color: #ffffff;
}

.bg-header>.header-content>.header-item>h1{
	padding:20% 0px 28px 0px;
}
.bg-header>.header-content>.header-item>p{
	padding-bottom: 10%;
}


.bg-header>.header-content>.header-item>img{
	width: 100%;
	height: 100%;
	padding-top: 10%;
	
	margin-right: auto;
}

.bg-header>.bg-polygon-white{
  	height: 100%;
  	width: 100%;
  	position: absolute;
}




.Our-Services>h1{
	padding-top: 100px;
	text-align: center;
	font-family: "roboto", sans-serif;
}
.Our-Services>.Custom-Section{
	padding: 0px 100px 20px 100px !important;
}
.Our-Services>.Custom-Section>.Section-item>h1{
	padding-top: 80px;
}
.Our-Services>.Custom-Section>.Section-item>p{
	padding-bottom: 40px;
	font-family: "roboto", sans-serif;
	justify-content: center;
	text-align: left;
}



.Custom-Section{
	display: grid;
	width: 100%;
	grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 20px;
	padding :100px 4% 0px 8% ; 
	z-index: 800;
}

.Custom-Section>.Section-item{
	padding-top: 100px;
	text-align: center;
}
.Custom-Section>.Section-item>img{
	width: 100%;
	height: 100%;
}

.Custom-Section>.Custom-Section-Img{
	display: none;
}
.Custom-Section>.Section-item>h1{
	font-family: "roboto", sans-serif;
	margin-bottom: 50px;
	color: #0000009c;
}

.Custom-Section>.Section-item>p{
	font-family: "roboto", sans-serif;
	line-height: 2;
	font-size: 13px;
	color: #0000009c;
}
/***********************Home Page Header Ends***********************/





/***********************Contact uS Banner Start******************/
.Contact-Banner-Section{
	padding: 100px 60px 100px 60px;
}
.Contact-Banner-Section>.Banner{
		border-radius: 50px;
		background-color: #3c66b3fa;
		height: 400px;
		padding:30px;
		display: flex;
}
.Contact-Banner-Section>.Banner>.section-item-img{
	display: none;
}
.Contact-Banner-Section>.Banner>.section-item{
	flex: 1;
	text-align: center;
	color: #ffffff
}

.Contact-Banner-Section>.Banner>.section-item>h1{
	    padding: 100px 20px 30px 20px;
	    font-family: "roboto",sans-serif;
}

.Contact-Banner-Section>.Banner>.section-item>p{
	padding: 0px 20px 30px 20px;
	font-family: "roboto",sans-serif;
}


/**********************Contact US banner Start****************/



/**********************Contact US Start****************/

.contact{
	display: grid;
		width: 100%;
		grid-auto-columns: 1fr;
	   grid-auto-flow: column;
	   grid-gap: 20px;
		padding :100px 4% 0px 8% ; 
		z-index: 800;
}
.contact>.contact-item{
	padding-top: 100px;
}
.contact>.contact-item>img{
	width: 100%;
	height: 100%;
}
.contact>.contact-item>h1{
	font-family: "roboto", sans-serif;
	margin-bottom: 50px;
	color: #0000009c;
}
.contact>.contact-item>form{
	width: 70%;
}


.contact>.contact-item-img{
	display: none;
}

.contact>.contact-item>form, h1{
	text-align:center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
/**********************Contact US End****************/


/**************************************About Us Page Start*******************/
/*Our Team Start*/
.our-team{
		padding: 110px 60px 90px 60px;
		    font-family: "roboto", sans-serif;
		    background-color: #f2f2f2;
}

.our-team>h1{
	text-align:center;
	color: #333333b0;
	font-size: 26px;
    line-height: 1.5;
}
.our-team>p{
	text-align:center;
	color: #666666;
	padding: 15px 10% 25px 10%;
}
.our-team>.members{
	padding: 20px;
	    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	
}
.our-team>.members>.card{

	background-color: #ffffff;
	background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 4px #3333331A;
    border-radius: 15px;
    padding: 30px;
    flex: 1;
    margin: 10px;
    width: 250px;
    text-align: center;
    justify-content: center;
    transition: transform 0.5s linear;
}


.our-team>.members>.card:hover{
	transform: rotate(-1deg) scale(1.02);
}


.our-team>.members>.card>.img>img{
	border-radius: 50%;
	margin-bottom: 25px;
}

.our-team>.members>.card>.heading{
	font-size: 20px;
    color: #000000ad;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "roboto", sans-serif;
}

.our-team>.members>.card>.sub-heading{
	    font-size: 14px;
	    color: #909090;
	    font-weight: 500;
}


.our-team>.members>.card>.body{
	font-size: 14px;
	color: #909090;
}
.our-team>.members>.card>.social{
	padding: 25px 0 25px 0;
}

/*Our Team End*/


/* Technologies Start*/
.technology{
	padding: 100px 100px 100px 100px;
}
.technology>h3{
	text-align:center;
	color: #333333b0;
	font-size: 26px;
    line-height: 1.5;
}
.technology>div>button{
	margin-right: 10px;
	margin-bottom: 20px;
}
/* Technologies Ends*/

/**************************************About Us Page End*******************/


/************************************Portfolio Page Start**************/
.portfolio-Section>.members>.card>img{
	width: 100%;
	height: 130px;
}
.portfolio-Section>.members>.card{
	flex: 2!important;
}

.portfolio-Section>.members>.card>.heading{
	padding-top: 20px;
}
/************************************Portfolio Page End**************/





/************************************Quote Page Start************************/


/************************************Quote Page End************************/





/*****************************Common Style Start *************************/
 


 /*Heaer All Common Start*/

 .bg-header-all{
	height: 400px;
	width: 100%;
	position: relative;
	background: linear-gradient(to top, #140e38,#15397c );
	border-bottom-left-radius: 400px;
    font-family: "roboto", sans-serif;
}
.bg-header-all>.header-content{
		position: absolute;
		display: grid;
		width: 100%;
		grid-auto-columns: 1fr;
	   grid-auto-flow: column;
	   grid-gap: 20px;
		padding :100px 4% 0px 8% ; 
		z-index: 800;
		color: #ffffff;
}
.bg-header-all>.header-content>.header-item>h1{
	padding-top: 80px;
	text-align: center;
	padding-bottom: 40px;
}

/*Heaer All Common End*/

.container{
	padding: 20px 40px 30px 80px;
}

.btn-secondary{
	padding: 10px 20px 10px 20px;
	border-radius: 50px;
	border:1px solid #1d387a;
	color: #1d387a;
	outline: none;
	text-decoration:none;
	font-family: sans-serif;
	transition: background-color 0.5s linear;
	background-color: #ffffff;
}

.btn-secondary:hover{
	background-color:#1d387a;
	color:#ffffff;
}


.text-center{
	text-align: center;
	justify-content: center;
}
.text-right{
	text-align: right;
}

.text-white{
	color: #ffffff;
}

.form-group{
	margin-bottom: 1rem;
}

.form-group>input,textarea,select{
	width: 100%;
	height: 100%;
	border: 1px solid #cccccc;
	color: #495057;
	border-radius: .25rem;
	outline: none;
	font-size: 1rem;
	resize: none;
    line-height: 1.5;
     padding: 14px 25px;
	font-family: "roboto", sans-serif;
}
.form-group>input[type=submit]{
	color: #ffffff;
	border-radius: 50px;
}


.btn-primary{
	
	padding: 20px 25px 20px 25px;
	background-color: #6c63ff;
	border-radius: 50px;
	outline: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
}

.animate-beat{
	transform: rotate(0deg);
	animation: animateBeat 3s infinite;
}
@keyframes animateBeat {
  
 0%{transform:scale(1);}
 50%{transform:scale(0.98);}
 100%{transform:scale(1);}
}
.responsive-flex-card{
	flex: 100%;
}



.heading-border-bottom{
	margin: 10px auto 20px auto;
    width: 60px;
}
.heading-border-bottom-no-margin{
	width: 60px;
	margin-right: auto;
	margin-left:auto;
}
.heading-border-bottom-no-margin-p-5{
	display: none;
}



.text-error{
	color: #ff0000ab;
	padding:0px 10px 10px 10px;
}

.text-success{
	color: #008000e0;
	padding:0px 10px 10px 10px;
}
.form-has-error{
	border-color: #ff0000ab!important;
}
.alert-success>.text-success{
	padding:0px 10px 40px 10px;
}

.alert-success{
	text-align: center;
}
/*****************************Common Style Ends *************************/


























/*************Foooter Start****************************/
.footer-container>.footer-item{
	display:block;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.footer-container>.footer-item>a{
	color: #ffffff;
}
.footer-container>.footer-item>ul>li>a{
	color: #ffffff;
	text-decoration: none;
}
.footer-container>.footer-item>ul>li{
	display: inline;
	 font-family: sans-serif;
	 font-size: 15px;
	padding-right: 20px;
}
.footer-container{
	background:url('../graphics/footer-image-2.png') no-repeat;
	background-size: cover;
	padding-top:6rem!important;
	padding-bottom: 10px;
	margin-top: 0px !important;
	padding: 20px 15px 30px 15px;
}

.footer-container>.footer-item-copright{
	float: right;
	font-size: 16px;
	font-family: "roboto",sans-serif;
	padding-bottom: 20px;
	margin-right: 10px;
}

/*************Foooter Ends****************************/

































































































@media (min-width: 1000px){

	/************************Nav Bar******************/
	.mobile-menu-toggle-container{
		display: none;
	}

	.nav-bar>.menu>li{
		display: inline-block;
		line-height: 3.5;
		text-align: right;
		font-size: 14px;
		margin-left: 50px;
	}
	.nav-bar>.menu>li>a{
		color: #ffffff;
		font-weight: unset;
	}
	.nav-bar>.menu>.has-child{
		position: relative;
  		display: inline-block;
	}
	.nav-bar>.menu>.has-child>.child{
		display: block!important;
	}
	.nav-bar>.menu{
		display: inline-block;
	    width: 78%;
	    height: 185px;
	    background-color: transparent;
	    opacity: 1;
	    text-align: right;
	}
	.nav-bar>.menu>.has-child:hover .child{ 
    height: auto!important;
	opacity: 1!important;}
	/************************Nav Bar******************/




	/************************Home Header******************/
	.bg-header{
		border-bottom-right-radius: unset;
	}
	.bg-header>.header-content>.header-item-svg{
		display: flex;
	}
	.bg-header>.header-content>.header-item{
		text-align: left;
	}
	.bg-header>.bg-polygon-white{
		display: flex;
	}
	.Custom-Section>.Custom-Section-Img{
		display: flex;
	}

	/************************Home Header******************/



	/*******************Contact Us Banner Start**************/
	.Contact-Banner-Section>.Banner>.section-item-img{
		display: flex;
	}
	/*******************Contact Us Banner End**************/

	/*****************Contact us Start*********/
	.contact>.contact-item-img{
		display: flex;
	}

	.contact>.contact-item>form, h1{
		text-align:left;
		justify-content: unset;
		margin-left: unset;
		margin-right: unset;
	}


	/*******************Footer Start*************/
	.footer-container{
	  	background:url('../graphics/footer-image.png') no-repeat;
	  	background-size: cover!important;
	  }
	.footer-container>.footer-item{
	  display: inline-block;
	  width: 60%;
	  text-align: left;
	}
	.footer-container>.footer-item-copright{
		width: 35%;	
		text-align: right;
	}
	
	/*******************Footer Ends*************/


	/*****************Common Styles************/
	.heading-border-bottom-no-margin{
		margin-right: unset;
		margin-left: unset;
		margin: 5px 0 0px 0;
	}
	.heading-border-bottom-no-margin-p-5{
		margin: 1px 0px 0px 15px;
		width: 60px;
	}
	.btn-primary{
		padding: 10px 15px 10px 15px;
	}

}